@import "https://cloud.typography.com/7978134/7128772/css/fonts.css";

@font-face {
  font-family: Font Family;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/file-name.woff2") format("woff2"),
       url("../fonts/file-name.woff") format("woff");
}
