@import "https://cloud.typography.com/7978134/7128772/css/fonts.css";
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  cursor: default; }

abbr[title],
dfn[title] {
  cursor: help; }

button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
label[for],
select {
  cursor: pointer; }

code {
  cursor: text; }

button[disabled],
input[disabled],
select[disabled] {
  cursor: default; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 0.0625em dotted;
  text-transform: none; }
  @supports (text-decoration: dotted underline) {
    abbr[title] {
      border-bottom: 0;
      text-decoration: dotted underline; } }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.625em; }

img {
  max-width: 100%; }

img[height],
img[width] {
  max-width: none; }

svg:not(:root) {
  overflow: hidden; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  display: table;
  white-space: normal;
  width: 100%; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

fieldset,
iframe,
img,
legend {
  border: 0; }

h1,
h2,
h3,
h5,
h6,
keygen {
  font-size: 100%; }

menu,
ol,
ul {
  list-style-type: none; }

blockquote,
body,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
ul {
  margin: 0; }

fieldset,
legend,
menu,
ol,
ul {
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

@font-face {
  font-family: Font Family;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/file-name.woff2") format("woff2"), url("../fonts/file-name.woff") format("woff"); }

[data-whatinput="mouse"] :focus,
[data-whatinput="touch"] :focus {
  outline: 0; }

html {
  font-size: 0.875em;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.375; }
  @media screen and (min-width: 20em) {
    html {
      font-size: calc(0.875em + 0.25 * (100vw - 20em) / 53.125); } }
  @media screen and (min-width: 73.125em) {
    html {
      font-size: 1.125em; } }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

.entry-content {
  line-height: 1.5; }
  .entry-content ul {
    list-style-type: disc; }
  .entry-content ul {
    padding-left: 1.5em; }
  .entry-content li ul {
    margin: 0; }
  .entry-content li:not(:last-child) {
    margin-bottom: 0.5em; }

.icon {
  box-sizing: content-box;
  fill: currentcolor;
  height: 1em;
  vertical-align: top;
  width: 1em; }

.heading {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase; }

.heading--1 {
  font-size: 2.369em; }
  @media screen and (min-width: 22.85714em) {
    .heading--1 {
      font-size: calc(2.369em + 1.006 * (100vw - 22.85714em) / 42.14286); } }
  @media screen and (min-width: 65em) {
    .heading--1 {
      font-size: 3.375em; } }

.heading--2 {
  font-size: 1.777em; }
  @media screen and (min-width: 22.85714em) {
    .heading--2 {
      font-size: calc(1.777em + 0.473 * (100vw - 22.85714em) / 42.14286); } }
  @media screen and (min-width: 65em) {
    .heading--2 {
      font-size: 2.25em; } }

.heading--3 {
  font-size: 1.333em; }
  @media screen and (min-width: 22.85714em) {
    .heading--3 {
      font-size: calc(1.333em + 0.167 * (100vw - 22.85714em) / 42.14286); } }
  @media screen and (min-width: 65em) {
    .heading--3 {
      font-size: 1.5em; } }

.heading--4 {
  font-size: 1em; }
  @media screen and (min-width: 22.85714em) {
    .heading--4 {
      font-size: calc(1em + 0 * (100vw - 22.85714em) / 42.14286); } }
  @media screen and (min-width: 65em) {
    .heading--4 {
      font-size: 1em; } }

.heading--5 {
  font-size: 0.75em; }
  @media screen and (min-width: 22.85714em) {
    .heading--5 {
      font-size: calc(0.75em + -0.083 * (100vw - 22.85714em) / 42.14286); } }
  @media screen and (min-width: 65em) {
    .heading--5 {
      font-size: 0.667em; } }

.heading--6 {
  font-size: 0.563em; }
  @media screen and (min-width: 22.85714em) {
    .heading--6 {
      font-size: calc(0.563em + -0.119 * (100vw - 22.85714em) / 42.14286); } }
  @media screen and (min-width: 65em) {
    .heading--6 {
      font-size: 0.444em; } }

.canvas {
  max-width: none;
  width: 100%; }


.u-focus-rings {
  outline-style: dotted;
  outline-width: 1px; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    
    .u-focus-rings {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 5px; } }
  [data-whatinput="mouse"]
  .u-focus-rings,
  [data-whatinput="touch"]
  .u-focus-rings {
    outline: 0; }


.u-hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

a,
.u-transition {
  -webkit-transition-duration: 0.125s;
          transition-duration: 0.125s;
  -webkit-transition-property: background-color, background-image, border-color, box-shadow, color, opacity, text-shadow, visibility;
  transition-property: background-color, background-image, border-color, box-shadow, color, opacity, text-shadow, visibility;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

.checkbox,
.radio,
.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }


.u-visually-hidden--focusable:active,
.u-visually-hidden--focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

